*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1024px;
    margin: auto;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
/* header css start */
.dflex{
    display: flex;
    justify-content: space-between;
}
header{
    padding: 30px 0;
    background-color: #FFF8F3;
}
.header-right{}
.header-right ul{
    align-items: center;
}
.header-right ul li{
    list-style: none;
    padding:0 10px;
}
.header-right ul li a{
    text-decoration: none;
    color:black;

    
}
/* banner css start */

.banner-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right img {
    width: 500px;
    position: relative;
    left: 168px;
}

.banner{
    background: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
    background-color: #FFF8F3;
    
}
.text-center{
    text-align: center;
}
.banner-left-content button{
    margin-top: 5px;
}
/* banner css end */
/* about me css start */
.about-content{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #FFF8F3;
    padding: 70px;
}
.header-info{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header-info-content{
    padding: 10px 20px;
}